RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.geopol-rp\.fr)(:80)? [NC]
RewriteRule ^(.*) http://geopol-rp.fr/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^(www\.geopol-rp\.fr/panel)(:80)? [NC]
RewriteRule ^(.*) http://geopol-rp.fr/panel/index.php$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^(geopol-rp\.fr/panel)(:80)? [NC]
RewriteRule ^(.*) http://geopol-rp.fr/panel/index.php$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^([^\.]+)$ $1.htm [NC,L]